@inherits BFUComponentBase
@typeparam TItem

<BFUGlobalCS Component="this" CreateGlobalCss=@(()=> this.CreateGlobalCss(Theme)) />

@if (this.IsVisible)
{
    <BFULocalCS @bind-Rules="@LocalCssRules" />
    <div @ref=@RootElementReference class=@($"ms-ChoiceField{(this._isSelected ? " is-checked": "")}{(this.IsDisabled ? " is-disabled": "")}{(this.OptionTemplate != null ? " custom-content": "")}") style=@Style id="@this.Id">
        <div class="ms-ChoiceField-wrapper" @onclick="OnOptionClick">
            <input type="radio" checked=@this._isSelected class="ms-ChoiceField-input" disabled=@this.IsDisabled />
            @if (!string.IsNullOrWhiteSpace(this.Label) && this.OptionTemplate == null)
            {
                <div class="ms-ChoiceField-field">
                    <span class="ms-ChoiceFieldLabel @(_choiceGroupOptionLabelRule.Selector.SelectorName)">@this.Label</span>
                </div>
            }
            else if (this.OptionTemplate != null && this.Item != null)
            {
                <div class="ms-ChoiceField-field custom-content">
                    <div class="ms-ChoiceField-innerField">
                        <div class="ms-ChoiceField-customContentWrapper">
                            @this.OptionTemplate(Item)
                        </div>
                    </div>
                    @if (!string.IsNullOrWhiteSpace(this.Label))
                    {
                        <div class="ms-ChoiceField-labelWrapper">
                            <span class="ms-ChoiceFieldLabel @(_choiceGroupOptionLabelRule.Selector.SelectorName)">@this.Label</span>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
}
