@namespace FluentUI
@inherits FluentUIComponentBase
@using Microsoft.AspNetCore.Components.Web

<LocalCS @bind-Rules="@DocumentCardActivityLocalRules" />

<div class=@($"{GlobalClassNames["root"]} {ClassName}") style=@Style @ref=RootElementReference>
    @if (People != null)
    {
        <div class="@GlobalClassNames["avatars"]">
            @foreach (var people in People.Take(2).Reverse())
            {
                <div class="@GlobalClassNames["avatar"]">
                    <PersonaCoin Text="@people.Name" ImageUrl="@people.ProfileImageSrc" AllowPhoneInitials="@people.AllowPhoneInitials" AriaRoleDescription="presentation"
                                    Size="@PersonaPresenceSize.Size32" CoinSize="32"></PersonaCoin>
                </div>
            }
        </div>
    }
    <div class=@($"{GlobalClassNames["details"]} {DetailsRule.Selector.SelectorName}")>
        <span class="@GlobalClassNames["name"]">@GetNameString()</span>
        <span class="@GlobalClassNames["activity"]">@Activity</span>
    </div>
</div>
