@namespace BlazorFluentUI
@inherits BFUComponentBase
@typeparam TItem

<BFUGlobalCS Component=@this CreateGlobalCss=@(()=>CreateGlobalCss(Theme)) />
<div role="columnheader"
     aria-sort=@(Column.IsSorted ? (Column.IsSortedDescending ? "descending" : "ascending"): "none")
     aria-colindex=@ColumnIndex
     class=@($"ms-DetailsColumn{(Column.ColumnActionsMode != ColumnActionsMode.Disabled ? " is-actionable" : "")}{(string.IsNullOrEmpty(Column.Name) ? " is-empty" : "")}{(Column.IsPadded ? " is-padded" : "")}{(Column.IsIconOnly ? " is-iconOnly" : "")}")
     data-is-draggable=@IsDraggable
     draggable=@IsDraggable
     style=@($"width:{(Column.CalculatedWidth + BFUDetailsRow<TItem>.CellLeftPadding + BFUDetailsRow<TItem>.CellRightPadding + (Column.IsPadded ? BFUDetailsRow<TItem>.CellExtraRightPadding : 0))}px;")>
    @if (IsDraggable)
    {
        @if (UseFastIcons)
        {
            <BFUFontIcon IconName="GripperBarVertical"
                      ClassName="ms-DetailsColumn-gripperBar" />
        }
        else
        {
            <BFUIcon IconName="GripperBarVertical"
                  ClassName="ms-DetailsColumn-gripperBar" />
        }
    }
    @if (ColumnHeaderTooltipTemplate != null)
    {
        @ColumnHeaderTooltipTemplate
    }
    else
    {
        <span class="ms-DetailsColumn-cellTooltip">
            <span id=@($"{ParentId}-{Column.Key}")
                  aria-label=@(Column.IsIconOnly ? Column.Name : null)
                  aria-labelledby=@(Column.IsIconOnly ? null : $"{ParentId}-{Column.Key}-name")
                  class="ms-DetailsColumn-cellTitle"
                  data-is-focusable=@(Column.ColumnActionsMode != ColumnActionsMode.Disabled)
                  role=@(Column.ColumnActionsMode != ColumnActionsMode.Disabled &&
                             (Column.OnColumnClick!= null || OnColumnClick.HasDelegate)
                             ? "button" : null)
                  aria-describedby=@(ColumnHeaderTooltipTemplate != null && HasAccessibleLabel() ? $"{ParentId}-{Column.Key}" : null)
                  @oncontextmenu=@(()=> OnColumnContextMenu.InvokeAsync(Column))
                  @onclick=@HandleColumnClick
                  aria-haspopup=@(Column.ColumnActionsMode == ColumnActionsMode.HasDropdown)
                  aria-expanded=@(Column.ColumnActionsMode == ColumnActionsMode.HasDropdown ? Column.IsMenuOpen : false)>
                <span id=@($"{ParentId}-{Column.Key}-name")
                      class="ms-DetailsColumn-cellName">
                    @if (!string.IsNullOrEmpty(Column.IconName) || !string.IsNullOrEmpty(Column.IconClassName))
                    {
                        @if (UseFastIcons)
                        {
                            <BFUFontIcon IconName=@Column.IconName
                                      ClassName=@Column.IconClassName />
                        }
                        else
                        {
                            <BFUIcon IconName=@Column.IconName
                                  ClassName=@Column.IconClassName />
                        }
                    }
                    @if (Column.IsIconOnly)
                    {
                        <span class="ms-DetailsColumn-accessibleLabel">@Column.Name</span>
                    }
                    else
                    {
                        @Column.Name
                    }
                </span>
                @if (Column.IsFiltered)
                {
                    @if (UseFastIcons)
                    {
                        <BFUFontIcon IconName="Filter"
                                  ClassName="ms-DetailsColumn-nearIcon" />
                    }
                    else
                    {
                        <BFUIcon IconName="Filter"
                              ClassName="ms-DetailsColumn-nearIcon" />
                    }
                }
                @if (Column.IsSorted)
                {
                    @if (UseFastIcons)
                    {
                        <BFUFontIcon IconName=@(Column.IsSortedDescending ? "SortDown" : "SortUp")
                                  ClassName="ms-DetailsColumn-sortIcon" />
                    }
                    else
                    {
                        <BFUIcon IconName=@(Column.IsSortedDescending ? "SortDown" : "SortUp")
                              ClassName="ms-DetailsColumn-sortIcon" />
                    }
                }
                @if (Column.IsGrouped)
                {
                    @if (UseFastIcons)
                    {
                        <BFUFontIcon IconName="GroupedDescending"
                                  ClassName="ms-DetailsColumn-nearIcon" />
                    }
                    else
                    {
                        <BFUIcon IconName="GroupedDescending"
                              ClassName="ms-DetailsColumn-nearIcon" />
                    }
                }
                @if (Column.ColumnActionsMode == ColumnActionsMode.HasDropdown && !Column.IsIconOnly)
                {
                    @if (UseFastIcons)
                    {
                        <BFUFontIcon IconName="ChevronDown"
                                  AriaHidden="true"
                                  ClassName="ms-DetailsColumn-filterChevron" />
                    }
                    else
                    {
                        <BFUIcon IconName="ChevronDown"
                              AriaHidden="true"
                              ClassName="ms-DetailsColumn-filterChevron" />
                    }
                }
            </span>
        </span>
    }
</div>
@*@if (ColumnHeaderTooltipTemplate == null)
{
    @if (HasAccessibleLabel())
    {
        <BFULabel id=@($"{ParentId}-{Column.Key}-tooltip")
               class="ms-DetailsHeader-accessibleLabel">
            @Column.AriaLabel
            @(Column.IsFiltered ? Column.FilterAriaLabel : null)
            @(Column.IsSorted ? (Column.IsSortedDescending ? Column.SortedDescendingAriaLabel : Column.SortedAscendingAriaLabel) : null)
            @(Column.IsGrouped ? Column.FilterAriaLabel : null)
        </BFULabel>
    }
}*@