@inherits TextFieldBase

<div class=@($"ms-TextField mediumFont normalize {(this.Underlined ? "ms-TextField--underlined" : "")} {(this.ErrorMessage != null ? "has-error" : "")} {(this.Disabled ? "is-disabled" : "")} {(this.Multiline ? "ms-TextField--multiline" : "")} {(this.Borderless ? "ms-TextField--borderless" : "")} {(!this.Resizable ? "ms-TextField--unresizable" : "")}  {(this.isFocused ? "is-focused" : "")} {(this.Required ? "is-required" : "")} {(this.Label == null ? "no-label" : "")} {(this.AutoAdjustHeight ? "auto-adjust-height" : "" )}")
     @ref="RootElementReference" @ref:suppressField>
    <div class="ms-TextField-wrapper">
        @if (this.Label != null)
        {
            <BlazorFabric.Label.Label Required=@this.Required HtmlFor=@this.id Disabled=@this.Disabled>@(this.Label + (this.Underlined ? ":" : ""))</BlazorFabric.Label.Label>
        }
        <div class="ms-TextField-fieldGroup">
            @if (this.Prefix != null)
            {
                <div class="ms-TextField-prefix">
                    <span style="padding-bottom: 1px;">@this.Prefix</span>
                </div>
            }
            @if (this.Multiline)
            {
                <textarea id=@this.id
                          @ref="textAreaRef" @ref:suppressField                          
                          style=@inlineTextAreaStyle
                          value=@currentValue
                          @oninput=@InputHandler
                          @onchange=@ChangeHandler
                          class="mediumFont ms-TextField-field"
                          aria-label=@this.AriaLabel
                          aria-describedby=@this.descriptionId
                          aria-invalid=@(this.ErrorMessage != null ? true: false)
                          readOnly=@this.ReadOnly
                          placeholder=@this.Placeholder
                          disabled=@this.Disabled
                          resizable=false
                          @onfocus=@OnFocus
                          @onblur=@OnBlur />
            }
            else
            {
                <input type="text"
                       id=@this.id
                       value=@currentValue
                       @oninput=@InputHandler
                       @onchange=@ChangeHandler
                       class="mediumFont ms-TextField-field"
                       aria-label=@this.AriaLabel
                       aria-describedby=@this.descriptionId
                       aria-invalid=@(this.ErrorMessage != null ? true: false)
                       readOnly=@this.ReadOnly
                       placeholder=@this.Placeholder
                       disabled=@this.Disabled
                       @onfocus=@OnFocus
                       @onblur=@OnBlur />
            }
            @*        {(iconClass || iconProps) && <Icon className={this._classNames.icon} {...iconProps} />}*@
            @if (this.Suffix != null)
            {   
                <div class="ms-TextField-suffix">
                    <span style="padding-bottom: 1px;">@this.Suffix</span>
                </div>
            }
        </div>
    </div>
   @if (this.Description != null || this.ErrorMessage != null)
   {
        <span id="descriptionId">
            <span class="description">@this.Description</span>
            @if (this.ErrorMessage != null)
            {
                <div role="alert">
                    <BlazorFabric.DelayedRender.DelayedRender Delay="100">
                        <p class="slideDownIn20 smallFont ms-TextField--errorMessage">
                            <span data-automation-id="error-message">@this.ErrorMessage</span>
                        </p>
                    </BlazorFabric.DelayedRender.DelayedRender>
                </div>
            }
        </span>
   }
</div>