@namespace BlazorFluentUI
@inherits BFUComponentBase
@using Microsoft.AspNetCore.Components.Web
<BFUGlobalCS Component="this" CreateGlobalCss=@(()=>CreateGlobalCss(Theme)) />

@if (!ShouldTruncate)
{
    <div class="@this.ClassName" title="@Title" style="white-space: nowrap">
        @Title
    </div>
}
else if (ShouldTruncate && !string.IsNullOrWhiteSpace(TruncatedTitleFirstPiece) && !string.IsNullOrWhiteSpace(TruncatedTitleSecondPiece))
{
<div class="@this.ClassName" title="@Title" @ref=_elementReference>
    @TruncatedTitleFirstPiece
    \u2026
    @TruncatedTitleSecondPiece
</div>
}
else
{
    <div class="@this.ClassName" title="@Title">
        @Title
    </div> 
}