@page "/calendarPage"

<h1>Calendar</h1>

<h4>Calendar with single day range</h4>
Calendar Date selected: @calendar1Value.ToString("D")
<br />
Calendar Date range: @(calendar1Range != null && calendar1Range.Count > 0 ? calendar1Range.Min().ToString("D") + " - " + calendar1Range.Max().ToString("D") : "")

<BFUCalendar @bind-Value=@calendar1Value @bind-Range=@calendar1Range />


<h4>Calendar with week range</h4>
Calendar Date selected: @calendar2Value.ToString("D")
<br />
Calendar Date range: @(calendar2Range != null && calendar2Range.Count > 0 ? calendar2Range.Min().ToString("D") + " - " + calendar2Range.Max().ToString("D") : "")

<BFUCalendar DateRangeType="DateRangeType.Week" @bind-Value="calendar2Value" @bind-Range="calendar2Range" />


<h4>Calendar with month range</h4>
Calendar Date selected: @calendar3Value.ToString("D")
<br />
Calendar Date range: @(calendar3Range != null && calendar3Range.Count > 0 ? calendar3Range.Min().ToString("D") + " - " + calendar3Range.Max().ToString("D") : "")

<BFUCalendar DateRangeType="DateRangeType.Month" @bind-Value="calendar3Value" @bind-Range="calendar3Range" />

<h4>Calendar with minimum, maximum, and restricted dates</h4>
Minimum date: @minDate.ToString("D")
<br />
Maximum date: @maxDate.ToString("D")
<br />
Restricted dates: @(restrictedDates != null ? string.Join(", ", restrictedDates.Select(x => x.ToShortDateString())) : "")
<br />
Calendar Date selected: @calendar4Value.ToString("D")
<br />
Calendar Date range: @(calendar4Range != null && calendar4Range.Count > 0 ? calendar4Range.Min().ToString("D") + " - " + calendar4Range.Max().ToString("D") : "")

<BFUCalendar @bind-Value="calendar4Value" @bind-Range="calendar4Range" MinDate="minDate" MaxDate="maxDate" RestrictedDates="restrictedDates" />


<h4>Calendar with just dates, Header click reveals months</h4>
Calendar Date selected: @calendar1Value.ToString("D")
<br />
Calendar Date range: @(calendar1Range != null && calendar1Range.Count > 0 ? calendar1Range.Min().ToString("D") + " - " + calendar1Range.Max().ToString("D") : "")

<BFUCalendar @bind-Value=@calendar1Value @bind-Range=@calendar1Range ShowMonthPickerAsOverlay="true" />



@code {

    DateTime calendar1Value = DateTime.Now;
    System.Collections.Generic.List<DateTime> calendar1Range;

    DateTime calendar2Value = DateTime.Now;
    System.Collections.Generic.List<DateTime> calendar2Range;

    DateTime calendar3Value = DateTime.Now;
    System.Collections.Generic.List<DateTime> calendar3Range;

    DateTime calendar4Value = DateTime.Now;
    System.Collections.Generic.List<DateTime> calendar4Range;
    DateTime maxDate = DateTime.Now + TimeSpan.FromDays(60);
    DateTime minDate = DateTime.Now - TimeSpan.FromDays(60);
    System.Collections.Generic.List<DateTime> restrictedDates = new System.Collections.Generic.List<DateTime>() { DateTime.Now + TimeSpan.FromDays(4), DateTime.Now + TimeSpan.FromDays(5) };


}
