@page "/choiceGroupPage"

@using BlazorFluentUI.BFUChoiceGroup
@using System.Collections.Generic

<h1>ChoiceGroup</h1>

<BFUStack>
    <h3>Datasource is a List&lt;string&gt;</h3>
    <BFUChoiceGroup ItemsSource="this._stringItems" @bind-Value="this._selectedStringOption">
    </BFUChoiceGroup>
    <br />
    <div>
        Selected option: @(_selectedStringOption ?? "none")
    </div>
</BFUStack>

<BFUStack>
    <h3>Datasource is a List&lt;IChoiceGroupOption&gt;</h3>
    <BFUChoiceGroup ItemsSource="this._choiceGroupOptions" @bind-Value="this._selectedChoiceGroupOption">
    </BFUChoiceGroup>
    <br />
    <div>
        Selected option: @(_selectedChoiceGroupOption?.Text ?? "none")
    </div>
</BFUStack>

<BFUStack>
    <h3>Datasource is a List&lt;CustomObject&gt; using the "OptionTemplate"</h3>
    <BFUChoiceGroup ItemsSource="this._customObjects" @bind-Value="this._selectedCustomObject">
        <OptionTemplate Context="item">
            <div style="display:flex;flex-direction:column">
                <span>@item.DisplayName</span>
                <BFUIcon IconName="@item.IconName"></BFUIcon>
            </div>
        </OptionTemplate>
    </BFUChoiceGroup>
    <br />
    <div>
        Selected option: @(_selectedCustomObject?.DisplayName ?? "none")
    </div>
</BFUStack>

@code {

    private string _selectedStringOption = string.Empty;
    private ChoiceGroupOption _selectedChoiceGroupOption;
    private CustomObject _selectedCustomObject;

    private List<string> _stringItems = new List<string>
{
        "Option A",
        "Option B",
        "Option C",
        "Option D",
    };

    private List<ChoiceGroupOption> _choiceGroupOptions = new List<ChoiceGroupOption>
{
        new ChoiceGroupOption{ Text = "Choice Group Option A" },
        new ChoiceGroupOption{ Text = "Choice Group Option B" },
        new ChoiceGroupOption{ Text = "Choice Group Option C (Disabled)", IsDisabled = true },
        new ChoiceGroupOption{ Text = "Choice Group Option D" },
    };

    private List<CustomObject> _customObjects = new List<CustomObject>
{
        new CustomObject{ DisplayName = "Custom Object 1", IconName= "PageLink"},
        new CustomObject{ DisplayName = "Custom Object 2", IconName= "Installation"},
        new CustomObject{ DisplayName = "Custom Object 3", IconName= "CirclePlus"},
        new CustomObject{ DisplayName = "Custom Object 4", IconName= "Plug"},
    };

    private class ChoiceGroupOption : IChoiceGroupOption
    {
        public string Text { get; set; }
        public bool IsDisabled { get; set; } = false;
        public bool IsVisible { get; set; } = true;
    }

    private class CustomObject
    {
        public string DisplayName { get; set; }
        public string IconName { get; set; }
    }
}