@page "/documentcard"

<h1>DocumentCard</h1>

<Demo Header="Compact Style" Key="0" MetadataPath="DocumentCardPage">
    <BFUStack Style="width:100%;" Tokens="@(new BFUStackTokens() { ChildrenGap = new [] {20d}})">
        <BFUDocumentCard Type="DocumentCardType.Compact" OnClickHref="http://bing.com">
            <BFUDocumentCardPreview PreviewImages="@images.Take(1).ToArray()"></BFUDocumentCardPreview>
            <BFUDocumentCardDetails>
                <BFUDocumentCardTitle ShouldTruncate="false" Title="My Heading"></BFUDocumentCardTitle>
                <BFUDocumentCardActivity Activity="Test activity" People="@persons.Take(1).ToArray()"></BFUDocumentCardActivity>
            </BFUDocumentCardDetails>
        </BFUDocumentCard>
        <BFUDocumentCard Type="DocumentCardType.Compact" OnClickHref="http://bing.com">
            <BFUDocumentCardPreview PreviewImages="@images"></BFUDocumentCardPreview>
            <BFUDocumentCardDetails>
                <BFUDocumentCardTitle ShouldTruncate="false" Title="My Heading"></BFUDocumentCardTitle>
                <BFUDocumentCardActivity Activity="Test activity" People="@persons"></BFUDocumentCardActivity>
            </BFUDocumentCardDetails>
        </BFUDocumentCard>
    </BFUStack>
</Demo>

@code {
    DocumentCardActivityPerson[] persons;
    DocumentPreviewImage[] images;

    public DocumentCardPage()
    {
        List<DocumentCardActivityPerson> p = new List<DocumentCardActivityPerson>();
        p.Add(new DocumentCardActivityPerson()
        {
            Name = "Albert Einstein",
            AllowPhoneInitials = true
        });
        p.Add(new DocumentCardActivityPerson()
        {
            Name = "Marie Curie",
            AllowPhoneInitials = true,
            ProfileImageSrc = "personFace.jpg"
        });

        persons = p.ToArray();

        List<DocumentPreviewImage> i = new List<DocumentPreviewImage>();
        i.Add(new DocumentPreviewImage()
        {
            Width = 144,
            Name = "A preview image",
            PreviewImageSrc = "sampleImage.jpg",
            IconSrc = "smallSampleImage.jpg",
            LinkProperties = new LinkProperties()
            {
                Href = "https://www.bing.com",
                Target = "_blank"
            }
        });

        i.Add(new DocumentPreviewImage()
        {
            Width = 144,
            Name = "A preview image",
            PreviewImageSrc = "sampleImage.jpg",
            IconSrc = "smallSampleImage.jpg",
            LinkProperties = new LinkProperties()
            {
                Href = "https://www.bing.com",
                Target = "_blank"
            }
        });

        i.Add(new DocumentPreviewImage()
        {
            Width = 144,
            Name = "A preview image",
            PreviewImageSrc = "sampleImage.jpg",
            IconSrc = "smallSampleImage.jpg",
            LinkProperties = new LinkProperties()
            {
                Href = "https://www.bing.com",
                Target = "_blank"
            }
        });

        i.Add(new DocumentPreviewImage()
        {
            Width = 144,
            Name = "A preview image",
            PreviewImageSrc = "sampleImage.jpg",
            IconSrc = "smallSampleImage.jpg",
            LinkProperties = new LinkProperties()
            {
                Href = "https://www.bing.com",
                Target = "_blank"
            }
        });

        i.Add(new DocumentPreviewImage()
        {
            Width = 144,
            Name = "A preview image",
            PreviewImageSrc = "sampleImage.jpg",
            IconSrc = "smallSampleImage.jpg",
            LinkProperties = new LinkProperties()
            {
                Href = "https://www.bing.com",
                Target = "_blank"
            }
        });

        images = i.ToArray();
    }

}

